/* src/components/projectSlideshow/ProjectSlideshow.css */
.project-slideshow {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-content {
  text-align: center;
}

.project-media {
  width: 100%;
  /* max-width: 600px; */
  height: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-media img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.project-links {
  margin: 10px;
}